/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@font-face {
    font-family: "Yumo";
    src: url("../public/fonts/Yumo.otf") format("otf");
    src: url("../public/fonts/Yumo.woff") format("woff");
}

