.img_div img {
  position: absolute;
  bottom: 0px;
  width: auto;
  height: 80vh;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.animation___icon__spectrum {
  animation: animation_1 1s linear infinite;
}
@keyframes animation_1 {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.icon__spectrum img {
  position: absolute;
  bottom: 5vh;
  left: 10vh;
  cursor: pointer;
}

@media (max-width: 768px) {
  .img_div img {
    bottom: -20px;
    width: 100%;
    height: 45vh;
    object-fit: contain;
  }
  .icon__spectrum img {
    bottom: 30vh;
    left: 3vh;
  }
}

/* 
@media (max-width: 776px) {
  .img_div img {
    object-fit: contain;
    height: 112%;
  }
  .icon__spectrum img {
    bottom: 30vh;
    left: 3vh;
  }
}

@media (max-width: 700px) {
  .img_div img {
    height: 105%;
  }
}
@media (max-width: 650px) {
  .img_div img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .img_div img {
    height: 90%;
  }
}

@media (max-width: 550px) {
  .img_div img {
    height: 87%;
  }
}
@media (max-width: 525px) {
  .img_div img {
    height: 82%;
  }
}

@media (max-width: 500px) {
  .img_div img {
    height: 9%;
  }
}
@media (max-width: 450px) {
  .img_div img {
    height: 73%;
  }
}

@media (max-width: 430px) and (max-height: 800px) {
  .img_div img {
    height: 63%;
  }
}

@media (max-width: 420px) {
  .img_div img {
    height: 61%;
  }
}

@media (max-width: 400px) {
  .img_div img {
    height: 63%;
  }
}

@media (max-width: 380px) {
  .img_div img {
    height: 77%;
  }
}
@media (max-width: 365px) {
  .img_div img {
    height: 63%;
  }
}
@media (max-width: 350px) {
  .img_div img {
    height: 62%;
  }
}

@media (max-width: 330px) {
  .img_div img {
    height: 61%;
  }
}

@media (max-width: 310px) {
  .img_div img {
    height: 62%;
  }
} */
